header {
    background-color: #2e2e2e;
    padding: 50px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;  
    font-size: 5em; 
    letter-spacing: 5px;  
    color: #bb0606;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);  
    text-transform: uppercase;  
}
