header {
    background-color: #2e2e2e;
    padding: 50px;
    text-align: center;
    font-family: 'Creepster';  
    font-size: 5em; 
    letter-spacing: 5px;  
    color: #bb0606;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);  
    text-transform: uppercase;  
}

body {
background-color: darkgray;
background-repeat: no-repeat;
background-size: cover;
color: crimson;
background-attachment: fixed;
background-position: center center;
font-weight: bold;
}
.section {
    margin-top: 30px;
    margin: 0px;
    padding: 20px;
    background: linear-gradient(to bottom, #444444 0%, #888888 100%); 
}
