body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    margin: 0;
    padding: 0;
    text-align: left;
    background-image: url(Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

header {
    background-color: #2e2e2e;
    padding: 50px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;  
    font-size: 5em; 
    letter-spacing: 5px;  
    color: #ffcc00;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);  
    text-transform: uppercase;  
}


h2 {
    color: #ffcc00;
}

.image-container img {
    width: 70%;
    max-width: 600px;
    border: 5px solid #ffcc00;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.image-edit {
float: right;
border: 5px solid crimson;
border-radius: 10px;
margin: 0 auto;
max-width: 600px;
width: 60%;
height: 300px;
}

.content-section {
    margin-top: 30px;
}

.content-section h3 {
    color: #ffcc00;
    margin-top: 20px;
}

.content-section ul li {
    margin: 10px 0;
}

footer {
    background-color: #2e2e2e;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}
.image-logo {
float: none;
margin: 0 auto;
display: block;

}

section {
    background-color: rgba(0, 4, 255, 0.171);
    margin: 0px;
    padding: 20px;
}